<div>
    <h1>Top Five Websites</h1>
    

    <form [formGroup]="topFiveSitesForm" (ngSubmit)="doSearch($event)" class="form-horizontal">
       
            
            <div class='form-group' >
                <label for="searchDate" class="control-label col-sm-2">Select Date:</label>
                <div class="col-sm-3">
                    <input id="searchDate" required formControlName="searchDate" type="date" class="form-control" [ngClass]="{'has-error':!topFiveSitesForm.controls['searchDate'].valid}">
                </div>
                <button type="submit" class="btn btn-sm btn-success">Search</button>
                </div>
   
           

       

        <div class="alert alert-danger" *ngIf="!topFiveSitesForm.controls['searchDate'].valid">You must select a date.</div>
    </form>

    <div class="alert alert-info" *ngIf="dataNotFound==true">No records found. Please try different date.</div>
    <table class='table table-bordered' *ngIf="visitStats && visitStats.length>0">
        <thead>
            <tr>
                <th>Site</th>
                <th>Count</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let visitStat of visitStats">
                <td>{{ visitStat.websiteURL }}</td>
                <td>{{ visitStat.visitCount }}</td>

            </tr>
        </tbody>
    </table>
    </div>

   